body {
    height: 100vh;
    width: 100vw;
    background-image: url(images/fond-game-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}

/* Section */

.situation {
    display: none;
}

.consequence {
    display: none;
    max-width: 800px;
    margin: 0 auto;
    padding: 24px;
    border-radius: 16px;
}

.consequence img {
    display: none;
}

.good-choice {
    filter: brightness(0.5);
}

.bad-choice {
    filter: brightness(0.5);
}


/* Stylisation de la sirène */


g.sirene-button:hover {
    cursor: pointer;
    filter: brightness(1.5);
}

@font-face {
    font-family: 'titre';
    src: url(polices/Super\ Ocean\ Personal\ Use.woff),
        url(polices/Super\ Ocean\ Personal\ Use.woff2);
}

h1 {
    font-family: 'titre';
    font-size: 3rem;
    color: white;
    text-align: center;
    margin-top: 120px;
    padding: 0;
}

.p-game{
    max-width: 1000px;
    background-color:rgba(255,255,255, .15);
    padding: 24px;
    line-height: 30px;
    border-radius: 16px;
    margin: 0 auto;
    border: 1px solid white;

}




/* Buttons */

.choice button {
    background-color: #00263d;
    color: white;
}

.choice button:hover {

    cursor: pointer;
    filter: brightness(1.5);
    color: white;
    border: 2px solid white;
}


.result {
    position: relative;
    bottom: 100px;
    background-color: #00263d;
    color: white;
    padding: 24px;
}